# Python
__pycache__/
*.py[cod]
*$py.class

# Envs & Tools
.env
.venv/
venv/
.env.* 
pip-wheel-metadata/

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# Logs, temp & outputs
logs/
*.log
*.tmp
tmp/
_temp/
cache/

# Dein Projekt
secrets.txt
secrets-*.txt
!secrets.example.txt           # Beispiel darf versioniert werden
data/usenet/complete/iso/logs/
data/usenet/complete/iso/remux/
# Falls du transcode/ remux nur auf dem Share hast, brauchst du diese Zeilen nicht

# OS
.DS_Store
Thumbs.db

# Windows/VS Artefakte
*.user
*.suo
*.VC.db
*.VC.VC.opendb
